@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: aqua;
  transform: scale(1.3)
}

.navLinks {
  margin: 6px 0;
  font-weight: bold;
  background-color: #45830e;
  color: white;
  padding: 8px 16px;
  border-radius: 0.25rem;
}

.navLinks:hover {
  background-color: #0fe052;
}

.navLinks2 {
  margin: 6px 0;
  font-weight: bold;
  color: white;
  background-color: #4299e1;
  padding: 8px 16px;
  border-radius: 0.25rem;
}

.navLinks2:hover {
  background-color: #2c5282;
}

.ocultar {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* FormUploadImages zona DropZone */
.container-dropzone {
  min-height: 50vh;
  border: 2px dashed black;
}


/* Seccion DropDownMenu*/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Webkit para descripcion en ListadoPropiedades*/
.truncate-4-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}


/* Spin del logo*/
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin {
  animation: spin 2s linear infinite;
}

/* Mapbox */
#map-container {
  width: 100%;
  height: 500px;
}