@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: aqua;
  transform: scale(1.2)
}

.navLinks {
  margin: 4px 0;
  font-weight: bold;
  background-color: #38a169;
  color: white;
  padding: 8px 16px;
  border-radius: 0.25rem;
}

.navLinks:hover {
  background-color: #2c7a7b;
}